In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import warnings
plt.style.use('ggplot')

plt.rcParams['figure.dpi'] = 300

import pickle

from imblearn.pipeline import Pipeline

from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2,f_classif

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm, tree

from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix,multilabel_confusion_matrix,classification_report
from sklearn.metrics import PrecisionRecallDisplay, RocCurveDisplay
from sklearn.metrics import accuracy_score,f1_score

In [6]:
train_df = pd.read_csv("/Users/dixonsmac/Desktop/Projects_2024/Liver_Syrosis/Liver-Disease-Prediction/Dataset/train_dataset.csv")
test_df = pd.read_csv("/Users/dixonsmac/Desktop/Projects_2024/Liver_Syrosis/Liver-Disease-Prediction/Dataset/test_dataset.csv")
print(train_df.head(15))

      ID  N_Days Status             Drug    Age Sex Ascites Hepatomegaly  \
0   7135    1654     CL  D-penicillamine  19581   F       N            N
1   7326      41      C  D-penicillamine  22880   F     NaN            N
2   7254     297      D              NaN  27957   F       N            N
3   3135    1872      C  D-penicillamine  21111   F     NaN            Y
4   2483     939     CL  D-penicillamine  18061   F     NaN          NaN
5   2306    1255      C          Placebo  14353   F       Y            N
6   2525    2065      C              NaN  25357   F       N            Y
7   6908    1118      D          Placebo  28620   F     NaN          NaN
8   8388    4313      D              NaN  24638   F       N            N
9   9132    3240      D              NaN  13860   F       N            N
10  8805     108      C              NaN  28650   F       N            Y
11  9860    2417      C  D-penicillamine  27836   M       N          NaN
12  9825    2353      D              NaN  28650   F       N            N
13  4327    1403      D              NaN  25962   F     NaN            Y
14  5572    3345      D          Placebo  16945   F       N          NaN

   Spiders Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos    SGOT  \
0        Y     N        0.3        279.0     2.96    84.0    1500.8   99.43
1      NaN     N        0.3          NaN     2.96     NaN    1835.4   26.35
2      NaN     N        0.3        328.0     2.64     4.0       NaN     NaN
3        Y     N        0.3        302.0     2.02    49.0       NaN   26.35
4      NaN     N        0.5        344.0     3.11    91.0       NaN  104.56
5        N     N        9.9          NaN     3.57     4.0     462.6  103.40
6      NaN     N        0.3          NaN     2.60   103.0       NaN     NaN
7        N     N        2.0        357.0     3.11    94.0    3403.8     NaN
8      NaN     N        1.2          NaN     3.51    67.0    1850.6   44.21
9      NaN     N        8.7          NaN     3.02     NaN       NaN   87.62
10       N     N        2.5          NaN     3.62     NaN    1090.8   57.42
11       N     N        0.9        232.0     3.98     4.0    1926.8     NaN
12       Y     N        2.6        383.0     2.69    80.0       NaN  103.99
13       N     N        0.3          NaN     3.61    33.0    2432.9   67.83
14     NaN     N        0.6          NaN     3.63     NaN     875.9  110.86

    Tryglicerides  Platelets  Prothrombin  Stage
0           109.0      293.0         10.2    4.0
1           131.0      308.0         10.8    1.0
2           116.0      194.0         10.3    3.0
3             NaN        NaN         10.5    4.0
4             NaN      306.0         11.4    2.0
5           126.0      276.0         12.1    4.0
6           200.0      365.0         10.5    4.0
7             NaN      254.0         10.1    4.0
8             NaN      434.0         11.1    2.0
9             NaN      102.0         11.2    3.0
10          135.0        NaN         10.6    3.0
11            NaN      204.0         13.9    4.0
12          116.0      243.0         11.3    3.0
13            NaN      431.0         11.3    4.0
14            NaN      324.0         12.6    4.0

In [7]:
print("============= TRAIN SET =============")
print("Missing Values: " ,np.sum(train_df.isnull().any(axis=1)))
print("Shape: ", train_df.shape)
print("Columns: ", len(train_df.columns))
print("Data types:")
print(train_df.dtypes)
print("============= TEST SET =============")
print("Missing Values: ",(np.sum(test_df.isnull().any(axis=1))))
print("Shape: ", test_df.shape)
print("Columns: ", len(test_df.columns))
print("Data types:")
print(test_df.dtypes)

============= TRAIN SET =============
Missing Values:  6685
Shape:  (6800, 20)
Columns:  20
Data types:
ID                 int64
N_Days             int64
Status            object
Drug              object
Age                int64
Sex               object
Ascites           object
Hepatomegaly      object
Spiders           object
Edema             object
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
Stage            float64
dtype: object
============= TEST SET =============
Missing Values:  3136
Shape:  (3200, 19)
Columns:  19
Data types:
ID                 int64
N_Days             int64
Status            object
Drug              object
Age                int64
Sex               object
Ascites           object
Hepatomegaly      object
Spiders           object
Edema             object
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
dtype: object

In [8]:
train_df.isnull()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,True,False,False,True,False,True,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,True,False,False
4,False,False,False,False,False,False,True,True,True,False,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False
6796,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False
6797,False,False,False,True,False,False,False,False,True,False,False,False,False,True,True,False,False,False,False,False
6798,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False
6799,False,False,False,False,False,False,False,False,True,False,False,True,False,True,True,False,False,False,False,False

In [9]:
test_df.isnull()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin
0,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,True,False,False
4,False,False,False,False,False,False,True,True,True,False,False,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False,True,False,False
3196,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3197,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False
3198,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False
3199,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False

In [10]:
train_df.describe()

,ID,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
count,6800.000000,6800.000000,6800.000000,6800.000000,3699.000000,6800.000000,4644.000000,4302.000000,4698.000000,3988.000000,6462.000000,6645.000000,6800.000000
mean,6268.608088,1664.055441,22863.223529,1.806147,294.575831,3.036118,68.569121,1802.951464,79.554427,133.857823,293.306097,11.231031,3.157206
std,2405.527133,1332.308135,4671.135682,3.218009,128.085317,0.528164,59.637733,1618.550339,43.433832,47.291444,115.146088,1.123444,0.993059
min,1239.000000,41.000000,9598.000000,0.300000,120.000000,1.960000,4.000000,289.000000,26.350000,33.000000,62.000000,9.000000,1.000000
25%,4353.750000,537.000000,19416.500000,0.300000,204.000000,2.680000,26.000000,1122.650000,35.290000,114.000000,213.000000,10.500000,2.000000
50%,6599.500000,1443.000000,23367.000000,0.400000,312.000000,3.020000,68.000000,1563.150000,88.505000,128.000000,285.000000,11.100000,4.000000
75%,8299.250000,2519.000000,27125.500000,1.800000,353.000000,3.390000,91.000000,2013.250000,110.672500,141.000000,365.000000,11.700000,4.000000
max,9999.000000,4795.000000,28650.000000,28.000000,1775.000000,4.640000,588.000000,13862.400000,340.480000,498.000000,563.000000,18.000000,4.000000

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6800 entries, 0 to 6799
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             6800 non-null   int64
 1   N_Days         6800 non-null   int64
 2   Status         6800 non-null   object
 3   Drug           4775 non-null   object
 4   Age            6800 non-null   int64
 5   Sex            6800 non-null   object
 6   Ascites        4554 non-null   object
 7   Hepatomegaly   4373 non-null   object
 8   Spiders        4210 non-null   object
 9   Edema          6800 non-null   object
 10  Bilirubin      6800 non-null   float64
 11  Cholesterol    3699 non-null   float64
 12  Albumin        6800 non-null   float64
 13  Copper         4644 non-null   float64
 14  Alk_Phos       4302 non-null   float64
 15  SGOT           4698 non-null   float64
 16  Tryglicerides  3988 non-null   float64
 17  Platelets      6462 non-null   float64
 18  Prothrombin    6645 non-null   float64
 19  Stage          6800 non-null   float64
dtypes: float64(10), int64(3), object(7)
memory usage: 1.0+ MB

In [12]:
duplicate_train_df = train_df[train_df.duplicated()]
duplicate_train_df.shape

(0, 20)

In [13]:
duplicate_test_df = test_df[test_df.duplicated()]
duplicate_test_df.shape

(0, 19)

In [14]:
percent_missing1 = round((train_df.isnull().mean() * 100),2)
percent_missing2 = round((test_df.isnull().mean() * 100),2)

In [15]:
missing_value_df1 = pd.DataFrame({'column_name': train_df.columns,
                                 'percent_missing': percent_missing1})

In [16]:
missing_value_df2 = pd.DataFrame({'column_name': test_df.columns,
                                 'percent_missing': percent_missing2})

In [17]:
missing_value_df1

                 column_name  percent_missing
ID                        ID             0.00
N_Days                N_Days             0.00
Status                Status             0.00
Drug                    Drug            29.78
Age                      Age             0.00
Sex                      Sex             0.00
Ascites              Ascites            33.03
Hepatomegaly    Hepatomegaly            35.69
Spiders              Spiders            38.09
Edema                  Edema             0.00
Bilirubin          Bilirubin             0.00
Cholesterol      Cholesterol            45.60
Albumin              Albumin             0.00
Copper                Copper            31.71
Alk_Phos            Alk_Phos            36.74
SGOT                    SGOT            30.91
Tryglicerides  Tryglicerides            41.35
Platelets          Platelets             4.97
Prothrombin      Prothrombin             2.28
Stage                  Stage             0.00

In [18]:
missing_value_df2

                 column_name  percent_missing
ID                        ID             0.00
N_Days                N_Days             0.00
Status                Status             0.00
Drug                    Drug            30.09
Age                      Age             0.00
Sex                      Sex             0.00
Ascites              Ascites            33.97
Hepatomegaly    Hepatomegaly            34.44
Spiders              Spiders            37.50
Edema                  Edema             0.00
Bilirubin          Bilirubin             0.00
Cholesterol      Cholesterol            44.84
Albumin              Albumin             0.00
Copper                Copper            31.44
Alk_Phos            Alk_Phos            36.50
SGOT                    SGOT            30.84
Tryglicerides  Tryglicerides            40.19
Platelets          Platelets             5.12
Prothrombin      Prothrombin             2.00

In [19]:
test_df = test_df.bfill()

In [20]:
test_df.dropna()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin
0,3870,41,C,Placebo,22553,F,N,Y,N,N,1.4,247.0,3.62,92.0,1748.1,108.65,129.0,169.0,11.6
1,3462,1811,C,D-penicillamine,16223,F,N,Y,N,N,0.3,311.0,2.80,92.0,1748.1,43.52,129.0,321.0,11.5
2,1632,954,C,D-penicillamine,27100,F,N,N,N,N,0.4,206.0,3.56,89.0,617.1,43.52,129.0,296.0,10.3
3,722,1969,D,Placebo,17039,F,N,Y,N,N,1.2,206.0,3.16,89.0,617.1,113.76,129.0,125.0,10.9
4,1000,2721,D,D-penicillamine,17738,F,N,N,N,N,3.2,206.0,2.36,89.0,1782.4,37.87,129.0,138.0,10.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3194,4118,4324,C,D-penicillamine,18692,F,Y,N,N,N,0.3,120.0,2.21,47.0,1805.0,111.68,166.0,207.0,9.7
3195,2601,4513,D,Placebo,18293,M,N,N,N,S,0.3,422.0,2.75,106.0,2063.9,111.68,166.0,563.0,10.9
3196,53,3281,D,D-penicillamine,12149,F,N,N,Y,N,4.7,422.0,4.30,106.0,1203.2,32.49,166.0,234.0,10.2
3197,386,1933,D,D-penicillamine,17084,F,N,Y,N,N,0.8,408.0,3.56,9.0,2358.1,124.70,131.0,234.0,11.6
3198,920,2350,D,Placebo,28650,M,N,N,N,Y,15.3,258.0,3.21,32.0,1472.7,113.24,130.0,110.0,10.3

In [21]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             3200 non-null   int64
 1   N_Days         3200 non-null   int64
 2   Status         3200 non-null   object
 3   Drug           3200 non-null   object
 4   Age            3200 non-null   int64
 5   Sex            3200 non-null   object
 6   Ascites        3200 non-null   object
 7   Hepatomegaly   3200 non-null   object
 8   Spiders        3200 non-null   object
 9   Edema          3200 non-null   object
 10  Bilirubin      3200 non-null   float64
 11  Cholesterol    3199 non-null   float64
 12  Albumin        3200 non-null   float64
 13  Copper         3200 non-null   float64
 14  Alk_Phos       3200 non-null   float64
 15  SGOT           3199 non-null   float64
 16  Tryglicerides  3200 non-null   float64
 17  Platelets      3200 non-null   float64
 18  Prothrombin    3200 non-null   float64
dtypes: float64(9), int64(3), object(7)
memory usage: 475.1+ KB

In [22]:
le = LabelEncoder()

In [23]:
train_df.Status = le.fit_transform(train_df.Status)
train_df.Drug = le.fit_transform(train_df.Drug)
train_df.Sex = le.fit_transform(train_df.Sex)
train_df.Cholesterol = le.fit_transform(train_df.Cholesterol)
train_df.Ascites = le.fit_transform(train_df.Ascites)
train_df.Hepatomegaly = le.fit_transform(train_df.Hepatomegaly)
train_df.Spiders = le.fit_transform(train_df.Spiders)
train_df.Edema = le.fit_transform(train_df.Edema)
train_df.Albumin = le.fit_transform(train_df.Albumin)
train_df.Copper= le.fit_transform(train_df.Copper)
train_df.Alk_Phos= le.fit_transform(train_df.Alk_Phos)
train_df.SGOT= le.fit_transform(train_df.SGOT)
train_df.Tryglicerides= le.fit_transform(train_df.Tryglicerides)
train_df.Platelets = le.fit_transform(train_df.Platelets)
train_df.Prothrombin = le.fit_transform(train_df.Prothrombin)

In [24]:
test_df.Status = le.fit_transform(test_df.Status)
test_df.Drug = le.fit_transform(test_df.Drug)
test_df.Sex = le.fit_transform(test_df.Sex)
test_df.Ascites = le.fit_transform(test_df.Ascites)
test_df.Hepatomegaly = le.fit_transform(test_df.Hepatomegaly)
test_df.Spiders = le.fit_transform(test_df.Spiders)
test_df.Edema = le.fit_transform(test_df.Edema)
test_df.Albumin = le.fit_transform(test_df.Albumin)
test_df.Copper= le.fit_transform(test_df.Copper)
test_df.Alk_Phos= le.fit_transform(test_df.Alk_Phos)
test_df.SGOT= le.fit_transform(test_df.SGOT)
test_df.Tryglicerides= le.fit_transform(test_df.Tryglicerides)
test_df.Platelets = le.fit_transform(test_df.Platelets)
test_df.Prothrombin = le.fit_transform(test_df.Prothrombin)

In [25]:
train_df['Age']= train_df['Age'].astype('int64')
train_df['Bilirubin']= train_df['Bilirubin'].astype('int64')
train_df['Cholesterol']= train_df['Cholesterol'].astype('int64')
train_df['Albumin']= train_df['Albumin'].astype('int64')
train_df['Copper']= train_df['Copper'].astype('int64')
train_df['Alk_Phos']= train_df['Alk_Phos'].astype('int64')
train_df['SGOT']= train_df['SGOT'].astype('int64')
train_df['Tryglicerides']= train_df['Tryglicerides'].astype('int64')
train_df['Platelets']= train_df['Platelets'].astype('int64')
train_df['Prothrombin']= train_df['Prothrombin'].astype('int64')




test_df['Age']= test_df['Age'].astype('int64')
test_df['Bilirubin']= test_df['Bilirubin'].astype('int64')
test_df['Cholesterol']= test_df['Cholesterol'].astype('Int64')
test_df['Albumin']= test_df['Albumin'].astype('int64')
test_df['Copper']= test_df['Copper'].astype('int64')
test_df['Alk_Phos']= test_df['Alk_Phos'].astype('int64')
test_df['SGOT']= test_df['SGOT'].astype('int64')
test_df['Tryglicerides']= test_df['Tryglicerides'].astype('int64')
test_df['Platelets']= test_df['Platelets'].astype('int64')
test_df['Prothrombin']= test_df['Prothrombin'].astype('int64')

In [26]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             3200 non-null   int64
 1   N_Days         3200 non-null   int64
 2   Status         3200 non-null   int64
 3   Drug           3200 non-null   int64
 4   Age            3200 non-null   int64
 5   Sex            3200 non-null   int64
 6   Ascites        3200 non-null   int64
 7   Hepatomegaly   3200 non-null   int64
 8   Spiders        3200 non-null   int64
 9   Edema          3200 non-null   int64
 10  Bilirubin      3200 non-null   int64
 11  Cholesterol    3199 non-null   Int64
 12  Albumin        3200 non-null   int64
 13  Copper         3200 non-null   int64
 14  Alk_Phos       3200 non-null   int64
 15  SGOT           3200 non-null   int64
 16  Tryglicerides  3200 non-null   int64
 17  Platelets      3200 non-null   int64
 18  Prothrombin    3200 non-null   int64
dtypes: Int64(1), int64(18)
memory usage: 478.2 KB

In [27]:
x_1 = train_df.loc[train_df['Stage'] == 1.0]
x_2 = train_df.loc[train_df['Stage'] == 2.0]
x_3 = train_df.loc[train_df['Stage'] == 3.0]
x_4 = train_df.loc[train_df['Stage'] == 4.0]

In [28]:
x_1

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
1,7326,41,0,0,22880,0,2,0,2,0,0,456,100,277,2246,0,98,245,18,1.0
31,7577,1343,2,0,20401,1,2,1,0,0,1,456,154,277,3607,2054,78,215,9,1.0
47,6760,4658,0,2,22616,0,2,2,1,0,0,37,155,97,670,1490,100,41,23,1.0
51,4312,2762,2,1,28650,0,2,2,1,0,0,210,111,98,677,2842,212,498,10,1.0
77,6055,41,2,2,28650,0,1,1,2,0,0,456,101,54,1268,3129,268,142,30,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6763,5668,152,0,1,28650,0,0,2,0,0,0,456,166,277,3607,1654,74,305,46,1.0
6771,9807,2944,2,2,20020,0,2,2,0,0,0,456,65,277,103,1100,164,497,5,1.0
6785,4175,2578,2,1,26068,0,0,0,0,0,0,0,170,37,3607,0,77,497,27,1.0
6795,4622,1762,0,1,20909,1,2,0,2,0,0,240,47,277,3341,2869,97,251,39,1.0
6797,4082,584,0,2,24102,0,0,1,2,0,0,98,83,277,3607,0,90,40,3,1.0

In [29]:
x_2_1 = x_2.iloc[:753]
x_2_2 = x_2.iloc[754:1507]
print(len(x_2_1),len(x_2_2))

753 753

In [30]:
x_3_1 = x_3.iloc[:660]
x_3_2 = x_3.iloc[661:1322]
print(len(x_3_1),len(x_3_2))

660 661

In [31]:
x_4_1 = x_4.iloc[:875]
x_4_2 = x_4.iloc[876:1751]
x_4_3 = x_4.iloc[1752:2627]
x_4_4 = x_4.iloc[2628:3504]
print(len(x_4_1),len(x_4_2),len(x_4_3),len(x_4_4))

875 875 875 876

In [32]:
x_1 = pd.concat([x_1,x_2_1,x_3_1,x_4_1])
x_2 = pd.concat([x_1,x_2_1,x_3_1,x_4_2])
x_3 = pd.concat([x_1,x_2_1,x_3_1,x_4_2])
x_4 = pd.concat([x_1,x_2_1,x_3_1,x_4_4])
x_5 = pd.concat([x_1,x_2_2,x_3_1,x_4_1])
x_6 = pd.concat([x_1,x_2_2,x_3_1,x_4_2])
x_7 = pd.concat([x_1,x_2_2,x_3_1,x_4_3])
x_8 = pd.concat([x_1,x_2_2,x_3_1,x_4_4])

In [33]:
x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8

(        ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 1665  1412    1310       1     0  18389    0        0             2        2
 1666  7009    2164       2     2  28650    0        0             0        2
 1668  5775    2185       0     0  27221    0        0             1        2
 1673  2958      41       0     0  28650    0        0             0        0
 1674  2473      41       0     2  28650    0        0             2        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 1665      0          0          456       91     242      3607  1929
 1666      1          2          456      117     277      3254  3129
 1668      0          1          258      126      46      1309     0
 1673      0          5          113      106      64      1595  3129
 1674      0          6          456      209     277       460   591

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 1665            268        109            9    4.0
 1666             88        462           21    4.0
 1668             95        397           19    4.0
 1673             91        182           64    4.0
 1674            268        497           13    4.0

 [2753 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 3380  6670    2322       2     2  25418    0        0             1        0
 3382  6544      41       0     2  25022    0        0             1        2
 3384  9847    2151       2     0  23966    0        0             2        2
 3386  5576     216       2     0  20924    0        0             0        0
 3388  1972      41       0     2  19690    0        0             1        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 3380      0          0          278      185      16      2428  1707
 3382      0          1          257       23      92      3607  2182
 3384      0          2          456       51      98       363   494
 3386      0          3          456      115     277      3207     0
 3388      0          5          424      119     277      1335  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 3380             85        128           17    4.0
 3382            268        189           26    4.0
 3384            268        144           18    4.0
 3386            268        209           15    4.0
 3388             87        145           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 3380  6670    2322       2     2  25418    0        0             1        0
 3382  6544      41       0     2  25022    0        0             1        2
 3384  9847    2151       2     0  23966    0        0             2        2
 3386  5576     216       2     0  20924    0        0             0        0
 3388  1972      41       0     2  19690    0        0             1        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 3380      0          0          278      185      16      2428  1707
 3382      0          1          257       23      92      3607  2182
 3384      0          2          456       51      98       363   494
 3386      0          3          456      115     277      3207     0
 3388      0          5          424      119     277      1335  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 3380             85        128           17    4.0
 3382            268        189           26    4.0
 3384            268        144           18    4.0
 3386            268        209           15    4.0
 3388             87        145           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 6787  9505     787       2     2  22183    0        2             1        2
 6788  3014    2126       2     0  28650    0        2             0        1
 6790  9794    4021       2     2  15378    0        0             2        2
 6791  8889     334       2     0  28650    0        0             2        0
 6793  2152    3353       0     0  21290    0        2             0        1

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 6787      0          0          456       59      64      3519     0
 6788      0          0          258       27     277      3607  3129
 6790      0          0          456       49      20      1527     0
 6791      0          0           62      165      24         0     0
 6793      1          0          456       33     229      2044  2222

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 6787            268        279           30    4.0
 6788            175        381           26    4.0
 6790             35        184           25    4.0
 6791            268         71           19    4.0
 6793            140        207           20    4.0

 [5042 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 1665  1412    1310       1     0  18389    0        0             2        2
 1666  7009    2164       2     2  28650    0        0             0        2
 1668  5775    2185       0     0  27221    0        0             1        2
 1673  2958      41       0     0  28650    0        0             0        0
 1674  2473      41       0     2  28650    0        0             2        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 1665      0          0          456       91     242      3607  1929
 1666      1          2          456      117     277      3254  3129
 1668      0          1          258      126      46      1309     0
 1673      0          5          113      106      64      1595  3129
 1674      0          6          456      209     277       460   591

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 1665            268        109            9    4.0
 1666             88        462           21    4.0
 1668             95        397           19    4.0
 1673             91        182           64    4.0
 1674            268        497           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 3380  6670    2322       2     2  25418    0        0             1        0
 3382  6544      41       0     2  25022    0        0             1        2
 3384  9847    2151       2     0  23966    0        0             2        2
 3386  5576     216       2     0  20924    0        0             0        0
 3388  1972      41       0     2  19690    0        0             1        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 3380      0          0          278      185      16      2428  1707
 3382      0          1          257       23      92      3607  2182
 3384      0          2          456       51      98       363   494
 3386      0          3          456      115     277      3207     0
 3388      0          5          424      119     277      1335  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 3380             85        128           17    4.0
 3382            268        189           26    4.0
 3384            268        144           18    4.0
 3386            268        209           15    4.0
 3388             87        145           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5044  6251     339       2     0  20081    0        0             1        0
 5045  4127    4601       0     0  27520    1        1             1        0
 5048  7599    4795       1     2  28650    0        0             1        0
 5049  4996      41       2     1  26719    0        2             0        2
 5055  4489    1273       0     2  23560    0        2             1        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 5044      1          1          456      111      57      3477  3129
 5045      0          0          243        0      80      2557  1099
 5048      0          1           98      109      83       392  3129
 5049      1          0            0       42      74      1698  1168
 5055      0          0          199       92       9      3420  2063

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 5044             82        498           24    4.0
 5045             78        253            7    4.0
 5048            268         86           24    4.0
 5049             12          0           17    4.0
 5055            268        144           24    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 1     7326      41       0     0  22880    0        2             0        2
 31    7577    1343       2     0  20401    1        2             1        0
 47    6760    4658       0     2  22616    0        2             2        1
 51    4312    2762       2     1  28650    0        2             2        1
 77    6055      41       2     2  28650    0        1             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 6787  9505     787       2     2  22183    0        2             1        2
 6788  3014    2126       2     0  28650    0        2             0        1
 6790  9794    4021       2     2  15378    0        0             2        2
 6791  8889     334       2     0  28650    0        0             2        0
 6793  2152    3353       0     0  21290    0        2             0        1

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 1         0          0          456      100     277      2246     0
 31        0          1          456      154     277      3607  2054
 47        0          0           37      155      97       670  1490
 51        0          0          210      111      98       677  2842
 77        0          0          456      101      54      1268  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 6787      0          0          456       59      64      3519     0
 6788      0          0          258       27     277      3607  3129
 6790      0          0          456       49      20      1527     0
 6791      0          0           62      165      24         0     0
 6793      1          0          456       33     229      2044  2222

       Tryglicerides  Platelets  Prothrombin  Stage
 1                98        245           18    1.0
 31               78        215            9    1.0
 47              100         41           23    1.0
 51              212        498           10    1.0
 77              268        142           30    1.0
 ...             ...        ...          ...    ...
 6787            268        279           30    4.0
 6788            175        381           26    4.0
 6790             35        184           25    4.0
 6791            268         71           19    4.0
 6793            140        207           20    4.0

 [5042 rows x 20 columns])

In [34]:
x_1 = x_1.sample(frac=1).reset_index(drop=True)
x_2 = x_2.sample(frac=1).reset_index(drop=True)
x_3 = x_3.sample(frac=1).reset_index(drop=True)
x_4 = x_4.sample(frac=1).reset_index(drop=True)
x_5 = x_5.sample(frac=1).reset_index(drop=True)
x_6 = x_6.sample(frac=1).reset_index(drop=True)
x_7 = x_7.sample(frac=1).reset_index(drop=True)
x_8 = x_8.sample(frac=1).reset_index(drop=True)

In [35]:
x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8

(        ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     6241     222       1     1  17343    0        2             2        1
 1     9495    4177       0     1  15941    0        2             0        0
 2     9396    1157       0     2  23316    0        0             2        2
 3     5729      41       0     0  19440    0        1             0        2
 4     5838    2964       2     1  20014    1        0             0        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 2748  2159     714       1     2  16837    0        0             1        2
 2749  4226    1998       0     0  28650    0        0             2        2
 2750  4533    1435       2     0  22674    0        0             2        0
 2751  7403     407       0     0  27008    0        0             0        2
 2752  9800    2399       0     1  27567    0        0             2        0

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         2          5          225      150     110      3607  1959
 1         0          0          262       73     277      2634  3129
 2         0          0          283       99     277       326  1483
 3         0          0          204      113      79      3607   258
 4         0          1           77        7      94         0  2712
 ...     ...        ...          ...      ...     ...       ...   ...
 2748      0          0          456       54     277      2933  1438
 2749      0          0          318        0       0       776  1492
 2750      0          0          456      189     239       482  1142
 2751      0          0          456      107     277      3607  3129
 2752      0          0          117       78      74       862  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 0                80         86           12    3.0
 1                77        237           29    4.0
 2               268        498           17    4.0
 3               115        254            7    4.0
 4               268        498           64    1.0
 ...             ...        ...          ...    ...
 2748            268        166           34    4.0
 2749             88        359           31    4.0
 2750             88        121           11    4.0
 2751            268        107           13    1.0
 2752            202        186           37    2.0

 [2753 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     4786    1462       0     2  22567    0        2             2        2
 1     4240    1559       2     1  18768    1        0             0        0
 2     9495    4177       0     1  15941    0        2             0        0
 3     6033     866       0     1  21324    0        0             2        0
 4     8396    4146       2     2  19204    0        2             2        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  6348    2979       0     0  28650    0        2             1        2
 5037  9003    1760       2     0  24754    1        0             0        2
 5038  5652    4795       2     2  18763    0        2             2        2
 5039  5519      41       0     0  28650    1        0             2        1
 5040  5973    1883       0     1  16390    1        2             2        1

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          5          260       49     277      3607  3129
 1         0          0           55      148      99      3607     0
 2         0          0          262       73     277      2634  3129
 3         0          0          214      208     277      2889     0
 4         0          0           88      145      89      3607  2237
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      1          0          279      174      58      2521  3129
 5037      0          0          456      109     194      1395   109
 5038      1          0          456       36     277      3607     0
 5039      0          0          188      113      68      2668  1930
 5040      0          0          456       72     195      3607  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 0               100        235           22    4.0
 1                76        277           16    1.0
 2                77        237           29    4.0
 3               268        247           27    2.0
 4               268         81           27    3.0
 ...             ...        ...          ...    ...
 5036            268        204           55    3.0
 5037            129        338           24    3.0
 5038             81         82           14    4.0
 5039            268        201           23    1.0
 5040            268        173           22    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     6815    2852       2     1  18953    0        0             1        1
 1     2217    2387       0     0  12959    0        0             0        0
 2     3596    2395       0     0  20788    0        0             1        2
 3     4763    2005       0     2  28650    0        0             1        2
 4     9734      41       0     0  18471    0        1             2        1
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  9041    4795       0     1  21959    1        0             1        1
 5037  9807    2944       2     2  20020    0        2             2        0
 5038  4350    2953       0     0  26219    1        0             2        1
 5039  6721    4251       0     0  24861    0        0             2        2
 5040  6381      41       0     2  24729    0        1             2        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          0           11      112       3      2091  2495
 1         1          2           79       38       8      3607  3129
 2         0          1          176       70      97      2793  3129
 3         1          1          198      113      11       258  2352
 4         0          0          456       94     277      3227     0
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          0          197      160     277      3607  3129
 5037      0          0          456       65     277       103  1100
 5038      0          3          456       40      71      3607  1907
 5039      0         10          118       97     106      3607  3129
 5040      0          0          200       68       0         0  1747

       Tryglicerides  Platelets  Prothrombin  Stage
 0                71        444           20    4.0
 1               202        204           31    4.0
 2                85        255           24    4.0
 3               105        312           28    4.0
 4                88        156           48    3.0
 ...             ...        ...          ...    ...
 5036            107        292           19    3.0
 5037            164        497            5    1.0
 5038            268        282           59    1.0
 5039            268        258           27    4.0
 5040            268        498           12    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     8404      41       2     0  25798    0        2             2        1
 1     8904    4233       0     2  23971    0        0             1        0
 2     3887    4795       0     0  28650    0        0             1        0
 3     6809    4795       2     0  16994    0        0             2        0
 4     6571     630       2     1  28650    0        0             1        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5037  1746    2394       0     1  16209    0        0             0        0
 5038  6835    2209       0     2  28650    1        0             1        0
 5039  8163    2262       2     2  24416    0        2             2        2
 5040  9800    2399       0     1  27567    0        0             2        0
 5041  5129     246       0     1  22499    0        0             0        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          1          456        4     277      1592  3129
 1         2         18          456       85     277      3607  2454
 2         2          1          235       68      59      3607   441
 3         0          0          456      151     277      2937     0
 4         2          3          456      153      14      3606  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 5037      0          0          201       74     102      3114  3129
 5038      0          0          197       88      75      2618  3129
 5039      0          0          456       86     166      3364  3129
 5040      0          0          117       78      74       862  3129
 5041      0          1          280       94      22      3265  2280

       Tryglicerides  Platelets  Prothrombin  Stage
 0               268         76           21    3.0
 1               268        227           25    3.0
 2               268        412           15    4.0
 3                96        498           17    4.0
 4               102         78           51    3.0
 ...             ...        ...          ...    ...
 5037             72        369           12    4.0
 5038             94        231            9    4.0
 5039            268        294           18    3.0
 5040            202        186           37    2.0
 5041             72        463           26    4.0

 [5042 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     7951    3642       2     0  18660    1        0             1        1
 1     9204     851       2     1  17774    0        2             0        2
 2     9566    1310       2     2  28650    0        0             2        2
 3     8560    1743       0     0  27441    0        0             2        2
 4     2952      41       2     0  20008    0        0             0        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  9487    1428       2     1  28650    0        0             1        2
 5037  6459    1461       0     1  18669    0        0             0        2
 5038  4419     790       0     2  20025    0        0             0        0
 5039  8234     969       2     1  20515    0        2             1        0
 5040  2716    2781       0     1  21223    1        2             0        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          4          456       44     277      2351    92
 1         0          0          456       79      52      2317  3129
 2         0          0          456       57       6       804  3129
 3         0          0          456       80       4      3607  3129
 4         0          0          456      164      86      1168  1568
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          1          456      149      26      2131  3129
 5037      1          0          226      109      73      3607  3129
 5038      1          2          156      151     277      3607   999
 5039      1          0            0      143       0      3077  2002
 5040      0          1          254       88      70       986  1700

       Tryglicerides  Platelets  Prothrombin  Stage
 0                94        254           13    2.0
 1               268        240            6    3.0
 2               109        290           15    3.0
 3               268        173           30    4.0
 4               268        492           25    2.0
 ...             ...        ...          ...    ...
 5036             79        178           23    3.0
 5037             89        170           46    2.0
 5038            122        337            6    4.0
 5039            268        368           19    4.0
 5040            102          7           17    2.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     6267    1465       0     2  18230    1        2             0        2
 1     3305    2053       0     2  24797    1        0             0        0
 2     6045     427       0     2  28650    1        0             1        0
 3     8640    1909       2     0  19623    0        0             0        2
 4     4568    1557       0     0  17004    0        0             2        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  3898    4795       0     1  21450    0        0             2        0
 5037  6250    3081       2     0  17586    0        1             1        2
 5038  7960      41       0     0  25507    0        0             0        2
 5039  9201    1214       2     2  28650    0        0             0        0
 5040  7456     492       1     0  28650    1        0             0        1

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          1          127       94     277      1829  2079
 1         0          0          456       30      45      2224     0
 2         1          0           85       63       0         0     0
 3         0          1          220      216      87      3607     0
 4         0         12           39      221      72      3607   288
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          6          456      118      27      3607  2768
 5037      0          1          176      141     277      2839   506
 5038      0          5          456      131      84      3607  1027
 5039      2          3          456       82      88      3607  2532
 5040      0          0          456       26      76      3242  2095

       Tryglicerides  Platelets  Prothrombin  Stage
 0                81        325           16    3.0
 1               106        226           31    4.0
 2               268        273           11    4.0
 3                85        498           14    3.0
 4               104        181           12    2.0
 ...             ...        ...          ...    ...
 5036            268        236           22    2.0
 5037             96        108           22    3.0
 5038             78        270           20    2.0
 5039            268        260           13    2.0
 5040            179        260           29    3.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     4277    1801       0     2  28650    0        0             2        2
 1     7861    1937       1     0  26681    0        2             2        2
 2     2626    3698       0     0  27247    0        0             0        0
 3     7751    1521       0     1  28650    0        0             2        0
 4     5160    2650       0     2  18611    0        0             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  5821      41       2     2  20316    1        0             0        2
 5037  9117    1556       0     0  18677    0        2             2        0
 5038  3145    2876       0     1  26722    0        0             0        2
 5039  4882      41       0     2  28255    0        2             2        0
 5040  3414    4518       0     0  21623    1        1             0        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          0          456      172     277      2583     0
 1         1          0          456       75     277      3392  1101
 2         0          3          216        0       0      3607  1879
 3         0          3          456       71      91      2620     0
 4         0          0            0      192     277         0     0
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          0          133       85      75      2791  1847
 5037      0          1          265      112     277      1722  3129
 5038      1          0          204      109      14      3607  2277
 5039      0          0          456       26     277      2164  3129
 5040      0          1          316      119      32      3607   272

       Tryglicerides  Platelets  Prothrombin  Stage
 0               140        387           13    4.0
 1                85        475            4    2.0
 2               172        198           19    4.0
 3               229        258           31    1.0
 4                68        497           25    4.0
 ...             ...        ...          ...    ...
 5036            268        220           15    2.0
 5037            100        370           22    3.0
 5038             97        270           32    4.0
 5039            268         69           11    2.0
 5040            101        278           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     8595    1375       2     1  28325    1        0             1        1
 1     5196    4198       0     2  17051    0        2             2        2
 2     9589    3188       0     2  26059    0        2             0        1
 3     6419    4097       2     1  17800    1        0             0        0
 4     9634     384       0     2  26406    0        0             1        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5037  1242    4795       0     1  16303    0        2             1        1
 5038  8501     375       0     1  26207    0        2             1        2
 5039  5360      71       0     0  15635    0        0             0        1
 5040  5354     375       2     0  20281    0        0             0        2
 5041  5280    2054       0     0  22820    0        0             1        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          2          232      169      71       392  1130
 1         0          0          210      129      87      3309   646
 2         1         15          456       87     277       984  3129
 3         0          0          131      144       4      1083  3129
 4         0          2          456      163     243      3607    62
 ...     ...        ...          ...      ...     ...       ...   ...
 5037      0          0          189       15      11      3038  3129
 5038      0          0           25      122     277      3049  1455
 5039      0          6          258      217      45      1550     0
 5040      0          0            0       98       0      3607  2331
 5041      0          0          224      109     277      2108     0

       Tryglicerides  Platelets  Prothrombin  Stage
 0               198        278           30    3.0
 1               268        273           49    2.0
 2               105        159           22    3.0
 3               268        238           19    2.0
 4               268         65            0    3.0
 ...             ...        ...          ...    ...
 5037            268        164           27    4.0
 5038            268        299           68    2.0
 5039             91        191           27    1.0
 5040             94        252           29    4.0
 5041            178        227           24    4.0

 [5042 rows x 20 columns])

In [36]:
x_1.info(),x_2.info(),x_3.info(),x_4.info(),x_5.info(),x_6.info(),x_7.info(),x_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             2753 non-null   int64
 1   N_Days         2753 non-null   int64
 2   Status         2753 non-null   int64
 3   Drug           2753 non-null   int64
 4   Age            2753 non-null   int64
 5   Sex            2753 non-null   int64
 6   Ascites        2753 non-null   int64
 7   Hepatomegaly   2753 non-null   int64
 8   Spiders        2753 non-null   int64
 9   Edema          2753 non-null   int64
 10  Bilirubin      2753 non-null   int64
 11  Cholesterol    2753 non-null   int64
 12  Albumin        2753 non-null   int64
 13  Copper         2753 non-null   int64
 14  Alk_Phos       2753 non-null   int64
 15  SGOT           2753 non-null   int64
 16  Tryglicerides  2753 non-null   int64
 17  Platelets      2753 non-null   int64
 18  Prothrombin    2753 non-null   int64
 19  Stage          2753 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 430.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB

(None, None, None, None, None, None, None, None)

In [37]:
x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8

(        ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     6241     222       1     1  17343    0        2             2        1
 1     9495    4177       0     1  15941    0        2             0        0
 2     9396    1157       0     2  23316    0        0             2        2
 3     5729      41       0     0  19440    0        1             0        2
 4     5838    2964       2     1  20014    1        0             0        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 2748  2159     714       1     2  16837    0        0             1        2
 2749  4226    1998       0     0  28650    0        0             2        2
 2750  4533    1435       2     0  22674    0        0             2        0
 2751  7403     407       0     0  27008    0        0             0        2
 2752  9800    2399       0     1  27567    0        0             2        0

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         2          5          225      150     110      3607  1959
 1         0          0          262       73     277      2634  3129
 2         0          0          283       99     277       326  1483
 3         0          0          204      113      79      3607   258
 4         0          1           77        7      94         0  2712
 ...     ...        ...          ...      ...     ...       ...   ...
 2748      0          0          456       54     277      2933  1438
 2749      0          0          318        0       0       776  1492
 2750      0          0          456      189     239       482  1142
 2751      0          0          456      107     277      3607  3129
 2752      0          0          117       78      74       862  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 0                80         86           12    3.0
 1                77        237           29    4.0
 2               268        498           17    4.0
 3               115        254            7    4.0
 4               268        498           64    1.0
 ...             ...        ...          ...    ...
 2748            268        166           34    4.0
 2749             88        359           31    4.0
 2750             88        121           11    4.0
 2751            268        107           13    1.0
 2752            202        186           37    2.0

 [2753 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     4786    1462       0     2  22567    0        2             2        2
 1     4240    1559       2     1  18768    1        0             0        0
 2     9495    4177       0     1  15941    0        2             0        0
 3     6033     866       0     1  21324    0        0             2        0
 4     8396    4146       2     2  19204    0        2             2        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  6348    2979       0     0  28650    0        2             1        2
 5037  9003    1760       2     0  24754    1        0             0        2
 5038  5652    4795       2     2  18763    0        2             2        2
 5039  5519      41       0     0  28650    1        0             2        1
 5040  5973    1883       0     1  16390    1        2             2        1

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          5          260       49     277      3607  3129
 1         0          0           55      148      99      3607     0
 2         0          0          262       73     277      2634  3129
 3         0          0          214      208     277      2889     0
 4         0          0           88      145      89      3607  2237
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      1          0          279      174      58      2521  3129
 5037      0          0          456      109     194      1395   109
 5038      1          0          456       36     277      3607     0
 5039      0          0          188      113      68      2668  1930
 5040      0          0          456       72     195      3607  3129

       Tryglicerides  Platelets  Prothrombin  Stage
 0               100        235           22    4.0
 1                76        277           16    1.0
 2                77        237           29    4.0
 3               268        247           27    2.0
 4               268         81           27    3.0
 ...             ...        ...          ...    ...
 5036            268        204           55    3.0
 5037            129        338           24    3.0
 5038             81         82           14    4.0
 5039            268        201           23    1.0
 5040            268        173           22    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     6815    2852       2     1  18953    0        0             1        1
 1     2217    2387       0     0  12959    0        0             0        0
 2     3596    2395       0     0  20788    0        0             1        2
 3     4763    2005       0     2  28650    0        0             1        2
 4     9734      41       0     0  18471    0        1             2        1
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  9041    4795       0     1  21959    1        0             1        1
 5037  9807    2944       2     2  20020    0        2             2        0
 5038  4350    2953       0     0  26219    1        0             2        1
 5039  6721    4251       0     0  24861    0        0             2        2
 5040  6381      41       0     2  24729    0        1             2        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          0           11      112       3      2091  2495
 1         1          2           79       38       8      3607  3129
 2         0          1          176       70      97      2793  3129
 3         1          1          198      113      11       258  2352
 4         0          0          456       94     277      3227     0
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          0          197      160     277      3607  3129
 5037      0          0          456       65     277       103  1100
 5038      0          3          456       40      71      3607  1907
 5039      0         10          118       97     106      3607  3129
 5040      0          0          200       68       0         0  1747

       Tryglicerides  Platelets  Prothrombin  Stage
 0                71        444           20    4.0
 1               202        204           31    4.0
 2                85        255           24    4.0
 3               105        312           28    4.0
 4                88        156           48    3.0
 ...             ...        ...          ...    ...
 5036            107        292           19    3.0
 5037            164        497            5    1.0
 5038            268        282           59    1.0
 5039            268        258           27    4.0
 5040            268        498           12    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     8404      41       2     0  25798    0        2             2        1
 1     8904    4233       0     2  23971    0        0             1        0
 2     3887    4795       0     0  28650    0        0             1        0
 3     6809    4795       2     0  16994    0        0             2        0
 4     6571     630       2     1  28650    0        0             1        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5037  1746    2394       0     1  16209    0        0             0        0
 5038  6835    2209       0     2  28650    1        0             1        0
 5039  8163    2262       2     2  24416    0        2             2        2
 5040  9800    2399       0     1  27567    0        0             2        0
 5041  5129     246       0     1  22499    0        0             0        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          1          456        4     277      1592  3129
 1         2         18          456       85     277      3607  2454
 2         2          1          235       68      59      3607   441
 3         0          0          456      151     277      2937     0
 4         2          3          456      153      14      3606  3129
 ...     ...        ...          ...      ...     ...       ...   ...
 5037      0          0          201       74     102      3114  3129
 5038      0          0          197       88      75      2618  3129
 5039      0          0          456       86     166      3364  3129
 5040      0          0          117       78      74       862  3129
 5041      0          1          280       94      22      3265  2280

       Tryglicerides  Platelets  Prothrombin  Stage
 0               268         76           21    3.0
 1               268        227           25    3.0
 2               268        412           15    4.0
 3                96        498           17    4.0
 4               102         78           51    3.0
 ...             ...        ...          ...    ...
 5037             72        369           12    4.0
 5038             94        231            9    4.0
 5039            268        294           18    3.0
 5040            202        186           37    2.0
 5041             72        463           26    4.0

 [5042 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     7951    3642       2     0  18660    1        0             1        1
 1     9204     851       2     1  17774    0        2             0        2
 2     9566    1310       2     2  28650    0        0             2        2
 3     8560    1743       0     0  27441    0        0             2        2
 4     2952      41       2     0  20008    0        0             0        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  9487    1428       2     1  28650    0        0             1        2
 5037  6459    1461       0     1  18669    0        0             0        2
 5038  4419     790       0     2  20025    0        0             0        0
 5039  8234     969       2     1  20515    0        2             1        0
 5040  2716    2781       0     1  21223    1        2             0        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          4          456       44     277      2351    92
 1         0          0          456       79      52      2317  3129
 2         0          0          456       57       6       804  3129
 3         0          0          456       80       4      3607  3129
 4         0          0          456      164      86      1168  1568
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          1          456      149      26      2131  3129
 5037      1          0          226      109      73      3607  3129
 5038      1          2          156      151     277      3607   999
 5039      1          0            0      143       0      3077  2002
 5040      0          1          254       88      70       986  1700

       Tryglicerides  Platelets  Prothrombin  Stage
 0                94        254           13    2.0
 1               268        240            6    3.0
 2               109        290           15    3.0
 3               268        173           30    4.0
 4               268        492           25    2.0
 ...             ...        ...          ...    ...
 5036             79        178           23    3.0
 5037             89        170           46    2.0
 5038            122        337            6    4.0
 5039            268        368           19    4.0
 5040            102          7           17    2.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     6267    1465       0     2  18230    1        2             0        2
 1     3305    2053       0     2  24797    1        0             0        0
 2     6045     427       0     2  28650    1        0             1        0
 3     8640    1909       2     0  19623    0        0             0        2
 4     4568    1557       0     0  17004    0        0             2        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  3898    4795       0     1  21450    0        0             2        0
 5037  6250    3081       2     0  17586    0        1             1        2
 5038  7960      41       0     0  25507    0        0             0        2
 5039  9201    1214       2     2  28650    0        0             0        0
 5040  7456     492       1     0  28650    1        0             0        1

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          1          127       94     277      1829  2079
 1         0          0          456       30      45      2224     0
 2         1          0           85       63       0         0     0
 3         0          1          220      216      87      3607     0
 4         0         12           39      221      72      3607   288
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          6          456      118      27      3607  2768
 5037      0          1          176      141     277      2839   506
 5038      0          5          456      131      84      3607  1027
 5039      2          3          456       82      88      3607  2532
 5040      0          0          456       26      76      3242  2095

       Tryglicerides  Platelets  Prothrombin  Stage
 0                81        325           16    3.0
 1               106        226           31    4.0
 2               268        273           11    4.0
 3                85        498           14    3.0
 4               104        181           12    2.0
 ...             ...        ...          ...    ...
 5036            268        236           22    2.0
 5037             96        108           22    3.0
 5038             78        270           20    2.0
 5039            268        260           13    2.0
 5040            179        260           29    3.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     4277    1801       0     2  28650    0        0             2        2
 1     7861    1937       1     0  26681    0        2             2        2
 2     2626    3698       0     0  27247    0        0             0        0
 3     7751    1521       0     1  28650    0        0             2        0
 4     5160    2650       0     2  18611    0        0             1        2
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5036  5821      41       2     2  20316    1        0             0        2
 5037  9117    1556       0     0  18677    0        2             2        0
 5038  3145    2876       0     1  26722    0        0             0        2
 5039  4882      41       0     2  28255    0        2             2        0
 5040  3414    4518       0     0  21623    1        1             0        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          0          456      172     277      2583     0
 1         1          0          456       75     277      3392  1101
 2         0          3          216        0       0      3607  1879
 3         0          3          456       71      91      2620     0
 4         0          0            0      192     277         0     0
 ...     ...        ...          ...      ...     ...       ...   ...
 5036      0          0          133       85      75      2791  1847
 5037      0          1          265      112     277      1722  3129
 5038      1          0          204      109      14      3607  2277
 5039      0          0          456       26     277      2164  3129
 5040      0          1          316      119      32      3607   272

       Tryglicerides  Platelets  Prothrombin  Stage
 0               140        387           13    4.0
 1                85        475            4    2.0
 2               172        198           19    4.0
 3               229        258           31    1.0
 4                68        497           25    4.0
 ...             ...        ...          ...    ...
 5036            268        220           15    2.0
 5037            100        370           22    3.0
 5038             97        270           32    4.0
 5039            268         69           11    2.0
 5040            101        278           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug    Age  Sex  Ascites  Hepatomegaly  Spiders  \
 0     8595    1375       2     1  28325    1        0             1        1
 1     5196    4198       0     2  17051    0        2             2        2
 2     9589    3188       0     2  26059    0        2             0        1
 3     6419    4097       2     1  17800    1        0             0        0
 4     9634     384       0     2  26406    0        0             1        0
 ...    ...     ...     ...   ...    ...  ...      ...           ...      ...
 5037  1242    4795       0     1  16303    0        2             1        1
 5038  8501     375       0     1  26207    0        2             1        2
 5039  5360      71       0     0  15635    0        0             0        1
 5040  5354     375       2     0  20281    0        0             0        2
 5041  5280    2054       0     0  22820    0        0             1        2

       Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos  SGOT  \
 0         0          2          232      169      71       392  1130
 1         0          0          210      129      87      3309   646
 2         1         15          456       87     277       984  3129
 3         0          0          131      144       4      1083  3129
 4         0          2          456      163     243      3607    62
 ...     ...        ...          ...      ...     ...       ...   ...
 5037      0          0          189       15      11      3038  3129
 5038      0          0           25      122     277      3049  1455
 5039      0          6          258      217      45      1550     0
 5040      0          0            0       98       0      3607  2331
 5041      0          0          224      109     277      2108     0

       Tryglicerides  Platelets  Prothrombin  Stage
 0               198        278           30    3.0
 1               268        273           49    2.0
 2               105        159           22    3.0
 3               268        238           19    2.0
 4               268         65            0    3.0
 ...             ...        ...          ...    ...
 5037            268        164           27    4.0
 5038            268        299           68    2.0
 5039             91        191           27    1.0
 5040             94        252           29    4.0
 5041            178        227           24    4.0

 [5042 rows x 20 columns])

In [38]:
x_1.info()
x_2.info()
x_3.info()
x_4.info()
x_5.info()
x_6.info()
x_7.info()
x_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             2753 non-null   int64
 1   N_Days         2753 non-null   int64
 2   Status         2753 non-null   int64
 3   Drug           2753 non-null   int64
 4   Age            2753 non-null   int64
 5   Sex            2753 non-null   int64
 6   Ascites        2753 non-null   int64
 7   Hepatomegaly   2753 non-null   int64
 8   Spiders        2753 non-null   int64
 9   Edema          2753 non-null   int64
 10  Bilirubin      2753 non-null   int64
 11  Cholesterol    2753 non-null   int64
 12  Albumin        2753 non-null   int64
 13  Copper         2753 non-null   int64
 14  Alk_Phos       2753 non-null   int64
 15  SGOT           2753 non-null   int64
 16  Tryglicerides  2753 non-null   int64
 17  Platelets      2753 non-null   int64
 18  Prothrombin    2753 non-null   int64
 19  Stage          2753 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 430.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB

In [41]:
y_1 =    ['Stage']
x_1 = x_1.drop(['Stage'],axis=1)

y_2 = x_2['Stage']
x_2 = x_2.drop(['Stage'],axis=1)

y_3 = x_3['Stage']
x_3 = x_3.drop(['Stage'],axis=1)

y_4 = x_4['Stage']
x_4 = x_4.drop(['Stage'],axis=1)

y_5 = x_5['Stage']
x_5 = x_5.drop(['Stage'],axis=1)

y_6 = x_6['Stage']
x_6 = x_6.drop(['Stage'],axis=1)

y_7 = x_7['Stage']
x_7 = x_7.drop(['Stage'],axis=1)

y_8 = x_8['Stage']
x_8 = x_8.drop(['Stage'],axis=1)

KeyError: "['Stage'] not found in axis"

In [ ]:
X_1_train, X_1_test, y_1_train, y_1_test = train_test_split(x_1, y_1, test_size=0.1, random_state=2, shuffle=True)
X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(x_2, y_2, test_size=0.1, random_state=2, shuffle=True)
X_3_train, X_3_test, y_3_train, y_3_test = train_test_split(x_3, y_3, test_size=0.1, random_state=2, shuffle=True)
X_4_train, X_4_test, y_4_train, y_4_test = train_test_split(x_4, y_4, test_size=0.1, random_state=2, shuffle=True)
X_5_train, X_5_test, y_5_train, y_5_test = train_test_split(x_5, y_5, test_size=0.1, random_state=2, shuffle=True)
X_6_train, X_6_test, y_6_train, y_6_test = train_test_split(x_6, y_6, test_size=0.1, random_state=2, shuffle=True)
X_7_train, X_7_test, y_7_train, y_7_test = train_test_split(x_7, y_7, test_size=0.1, random_state=2, shuffle=True)
X_8_train, X_8_test, y_8_train, y_8_test = train_test_split(x_8, y_8, test_size=0.1, random_state=2, shuffle=True)

ValueError: Found input variables with inconsistent numbers of samples: [2753, 1]